<div class="row">
  <div class="col-lg-12">
    <form class="form-horizontal" ng-submit="searchSummoner()">
      <div class="form-group">
        <label for="summonerName" class="col-sm-2 control-label">{{ 'SUMMONER' | translate }}</label>
        <div class="col-sm-10">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ regionCode | translate }}<span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" ng-click="setRegion('BR')">{{ 'REGION_BR' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('EUNE')">{{ 'REGION_EUNE' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('EUW')">{{ 'REGION_EUW' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('KR')">{{ 'REGION_KR' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('LAN')">{{ 'REGION_LAN' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('LAS')">{{ 'REGION_LAS' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('NA')">{{ 'REGION_NA' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('OCE')">{{ 'REGION_OCE' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('RU')">{{ 'REGION_RU' | translate }}</a></li>
                <li><a href="javascript:void(0)" ng-click="setRegion('TR')">{{ 'REGION_TR' | translate }}</a></li>
              </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" ng-model="summonerName" id="summonerName" placeholder="{{ 'SUMMONER_NAME' | translate }}" aria-label="...">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="searchSummoner()" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
    </form>
  </div>
  <div class="col-lg-12 text-center" style="margin: 40px 0" ng-hide="summonerLoadFinish">
    <h3 class="text-danger" ng-show="summonerError">{{ 'SUMMONER_LOAD_ERROR' | translate }}</h3>
    <img src="images/League_of_Legends_logo.png">
  </div>
  <div class="col-lg-6" ng-show="summonerLoadFinish">
    <div class="media" style="margin-bottom: 10px">
      <div class="media-left">
        <a href="">
          <img ng-src="http://sk2.op.gg/images/profile_icons/profileIcon{{ summoner.profileIconId }}.jpg" class="media-object" alt="{{ summoner.name }}" width="128">
        </a>
      </div>
      <div class="media-body">
        <h3 class="media-heading">{{ summoner.name }}</h3>
        <h4>W:{{summonerChampions.total.stats.totalSessionsWon}} / L: {{summonerChampions.total.stats.totalSessionsLost}} ({{'WIN_RATIO' | translate }}: {{summonerChampions.total.stats.totalSessionsWon/summonerChampions.total.stats.totalSessionsPlayed*100 | number:2}}%)</h4>
        <h4>
          <span class="text-success">{{summonerChampions.total.stats.totalChampionKills}}</span>
          /
          <span class="text-danger">{{summonerChampions.total.stats.totalDeathsPerSession}}</span>
          /
          <span class="text-info">{{summonerChampions.total.stats.totalAssists}}</span>
        </h4>
        <h5>
          <span class="label label-default">{{summonerChampions.total.stats.totalPentaKills}} Pental Kills</span>
          <span class="label label-default">{{summonerChampions.total.stats.totalQuadraKills}} Quadra Kills</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-4"  ng-show="summonerLoadFinish" ng-repeat="rule in summonerChampions.rules | orderBy:'-value' | limitTo:1">
    <div class="text-center" style="padding: 0 30px">
      <img ng-src="images/rules/{{rule.name}}.jpg" class="img-responsive">
      <h3 style="margin: 0">{{ 'CHAMPION_RULE_' + (rule.name | uppercase) | translate }}</h3>
    </div>
  </div>
  <div class="col-lg-4 col-md-4"  ng-show="summonerLoadFinish" ng-repeat="rule in summonerChampions.rules | orderBy:'-value' | limitTo:1">
    <ul class="list-inline text-center">
      <li ng-repeat="champion in summonerChampions.data.champions | orderBy:'-stats.totalSessionsWon' | limitTo:3">
        <img ng-src="images/champions/{{championsMap[champion.id]}}.png" width="100" alt="{{championsMap[champion.id]}}">
        <h5 class="clear-fix">
          <span class="text-success">{{champion.stats.totalChampionKills}}</span>
          /
          <span class="text-danger">{{champion.stats.totalDeathsPerSession}}</span>
          /
          <span class="text-info">{{champion.stats.totalAssists}}</span>
        </h5>
      </li>
    </ul>
  </div>
  <div class="col-lg-12"  ng-show="summonerLoadFinish">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation" ng-click="profileTabSwitch('rule')" ng-class="{'active': summonerTab.rule}"><a href="javascript:void(0)">{{ 'RULE' | translate }}</a></li>
      <li role="presentation" ng-click="profileTabSwitch('champions')"  ng-class="{'active': summonerTab.champions}"><a href="javascript:void(0)">{{ 'CHAMPIONS' | translate }}</a></li>
      <li role="presentation" ng-click="profileTabSwitch('season')"  ng-class="{'active': summonerTab.season}"><a href="javascript:void(0)">{{ 'SEASON' | translate }}</a></li>
    </ul>
    <div ng-show="summonerTab.rule">
      <div class="row">
        <div class="col-lg-2 col-md-4" ng-repeat="rule in summonerChampions.rules | orderBy:'-value'">
          <div class="text-center">
            <h3>{{ 'CHAMPION_RULE_' + (rule.name | uppercase) | translate }}</h3>
            <img ng-src="images/rules/{{rule.name}}.jpg" class="img-responsive">
            <h4>{{rule.value}} {{ 'MATCHES' | translate }}</h4>
            <ul class="list-inline">
              <li ng-repeat="champion in summonerChampions.data.champions | orderBy:'-stats.totalSessionsWon' | filter:{ tags: rule.name } | limitTo:3">
              <img ng-src="images/champions/{{championsMap[champion.id]}}.png" width="32" alt="{{championsMap[champion.id]}}">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="summonerTab.champions">
      <div class="well well-sm text-center">
        <form class="form-inline">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Tank"> {{ 'CHAMPION_RULE_TANK' | translate }}
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Fighter"> {{ 'CHAMPION_RULE_FIGHTER' | translate }}
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Mage"> {{ 'CHAMPION_RULE_MAGE' | translate }}
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Marksman"> {{ 'CHAMPION_RULE_MARKSMAN' | translate }}
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Assassin"> {{ 'CHAMPION_RULE_ASSASSIN' | translate }}
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="tagFilterMap.Support"> {{ 'CHAMPION_RULE_SUPPORT' | translate }}
            </label>
          </div>
        </form>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>PR</th>
            <th>W</th>
            <th>L</th>
            <th>P</th>
            <th>W%</th>
            <th>K/D/A</th>
            <th>KDA</th>
            <th>G</th>
            <th>PK</th>
            <th>FB</th>
            <th>LH~</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="champion in summonerChampions.data.champions | orderBy:'-stats.totalSessionsWon' | filter: tagFilter">
            <td><img ng-src="images/champions/{{championsMap[champion.id]}}.png" width="64" alt="{{championsMap[champion.id]}}"></td>
            <td>{{champion.stats.pickRate | number:2}}</td>
            <td>{{champion.stats.totalSessionsWon}}</td>
            <td>{{champion.stats.totalSessionsLost}}</td>
            <td>{{champion.stats.totalSessionsPlayed}}</td>
            <td>{{champion.stats.totalSessionsWon/champion.stats.totalSessionsPlayed*100  | number:0 }}</td>
            <td>{{champion.stats.totalChampionKills}}/{{champion.stats.totalDeathsPerSession}}/{{champion.stats.totalAssists}}</td>
            <td>{{(champion.stats.totalChampionKills+champion.stats.totalAssists)/champion.stats.totalDeathsPerSession | number:2 }}</td>
            <td>{{champion.stats.totalGoldEarned/champion.stats.totalSessionsPlayed | number:0 }}</td>
            <th>{{champion.stats.totalPentaKills}}</th>
            <th>{{champion.stats.totalFirstBlood}}</th>
            <th>{{champion.stats.totalMinionKills/champion.stats.totalSessionsPlayed | number:0 }}</th>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-show="summonerTab.season">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'SEASON_SUMMARY_TYPE' | translate }} </th>
            <th>{{ 'SEASON_SUMMARY_WINS' | translate }} </th>
            <th>{{ 'SEASON_SUMMARY_KILLS' | translate }} </th>
            <th>{{ 'SEASON_SUMMARY_MINIONS' | translate }} </th>
            <th>{{ 'SEASON_SUMMARY_NEUTRALS' | translate }} </th>
            <th>{{ 'SEASON_SUMMARY_TURRETS' | translate }} </th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat="playerType in summonerSummary.data.playerStatSummaries | orderBy:'-wins'">
            <td>{{playerType.playerStatSummaryType}}</td>
            <td>{{playerType.wins}}</td>
            <td>{{playerType.aggregatedStats.totalChampionKills}}</td>
            <td>{{playerType.aggregatedStats.totalMinionKills}}</td>
            <td>{{playerType.aggregatedStats.totalNeutralMinionsKilled}}</td>
            <td>{{playerType.aggregatedStats.totalTurretsKilled}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
